<!-- This is the about page -->
<div class="row">
  <div class="col-sm-6">
    <!-- This is an image of Frank Oceak, image can be found in the assets folder -->
    <!-- added the ~ to get it to work with angular deployment. -->
    <img src="~/../assets/frank-ocean.jpg" alt="Frank Ocean">
    <p>Photography: Willy Vanderperre</p>
  </div>
  <div class="col-sm-6">
    <!-- This is information about Frank Ocean -->
    <h4>Frank Ocean</h4>
    <p>Frank Ocean, 33, is an American artist. He is a man that can do it all. He is a composer, singer, songwriter, record producer, photographer and visual artist. His genre is mainly R&B and pop, though if you listen closely there will be a touch of jazz and funk. Ocean is known for his wide range of vocals, compelling lyrics and a trendsetter fashionista. His number one song that went Platinum is “Thinkin Bout You”. <a href="https://www.artlistparis.com/manicure/laura-forget/celebrities/dazed-willy-vanderperre-frank-ocean">Source</a></p>
  </div>
</div>
