<!-- This is the contact page -->
<div class="row">
  <div class="col-sm-12">
    <h1>Welcome to the Contact us page!</h1>
  </div>
</div>
<br/>
<div class="row">
  <!-- This is in the left side of the column -->
  <div class="col-sm-6">
    <!-- This is where the Bootstrap icons are getting display -->
    <div class="row location">
      <div class="col-sm-12">
        <h2><i class="bi bi-geo-fill secondary-text"></i></h2>
      </div>
    </div>
    <!-- This is the address on the contact us page -->
    <div class="row location">
      <div class="col-sm-12">
        <ul class="list-group">
          <li class="list-group-item border-0">555 Channel Orange Ave</li>
          <li class="list-group-item border-0">Long Beach, CA 90712</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- This is on the Right side of the Column -->
  <div class="col-sm-6">
    <!-- This is where the Bootstrap icons are getting display -->
    <div class="row location">
      <div class="col-sm-12">
        <h2><i class="bi bi-telephone-fill secondary-text"></i></h2>
      </div>
    </div>
    <!-- This is where the phone Number are getting displayed on the contact us page -->
    <div class="col-sm-12">
      <ul class="list-group">
        <li class="list-group-item border-0">H:510-222-2222</li>
        <li class="list-group-item border-0">C:510-222-2222</li>
      </ul>
    </div>
  </div>
</div>
