<!-- This is the about component.html page  -->
<div fxLayout="row wrap">
  <!-- Ths is the left column for the image -->
  <!--this tells Angular flex-layout that this is a flex element under a flex-row-->
  <div fxFlex>
    <div fxLayout="column">
      <img src="../../assets/julia_quinn.jpg" alt="Julia Quinn" width="90%">
    </div>
    <div>
      <em>
        Photographed by <a class="attribution-link" href="https://juliaquinn.com/mediakit/">Roberto Filho</a>.
      </em>
    </div>
  </div>
  <!--this tells Angular flex-layout that this is a flex element under a flex-row-->
  <!-- This is the right column for the description -->
  <div fxFlex>
    <h1 class="blue">Julia Quinn, The Historical Romance Novelist</h1>
    <p>Julia Quinn was a Harvard graduate who graduated with an Art History degree. Shortly after, she decided to pursue pre-med at Yale to become a doctor. During her first two years of pre-med she wrote two romance novels, in which, went into a bidding war with two publishing companies. She then dropped out of med-school, and worked full-time writing romance novels. Today, she has over 18 consecutive New York Times bestsellers. One book, Bridgerton, has turned into a Shondaland/Netflix original which debuted in December of 2020, becoming Netflix’s fifth most successful series.</p>
    <em><a class="attribution-link" href="https://juliaquinn.com/mediakit/">Source</a></em>
  </div>
</div>
