// This is SCSS file for book-list.component

// styling the link to change the cursor
.a-link {
  text-decoration: none;
  cursor: pointer;
}
// styling the link when hover to be underlined.
.a-link:hover {
  text-decoration: underline;
}
// this is display a grid
.grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto;
  padding: 25px;
}
// padding around each grid
.grid-container__item {
  padding: 20px;
  font-size: 30px;
}
// links not underlind
.grid-container__ahref {
  text-decoration: none;
  cursor: pointer;
}
// hover will underline
.grid-container__ahref:hover {
  text-decoration: underline;
}


